/* Ngăn tiêu đề xuống dòng */
.mat-header-cell {
    white-space: nowrap; /* Ngăn xuống dòng */
    overflow: hidden; /* Ẩn phần nội dung vượt quá */
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung bị cắt */
  }
  
  /* Tùy chỉnh kích thước cột nếu cần */
  .mat-column-action {
    width: 150px; /* Tùy chỉnh chiều rộng cột Action */
  }
  
  .mat-column-tagID {
    width: 120px;
  }
  
  .mat-column-shipmentDate {
    width: 150px;
  }
  
  .mat-column-productDate {
    width: 150px;
  }
  
  .mat-column-delivery {
    width: 150px;
  }
  
  .mat-column-stockOut {
    width: 150px;
  }
  
  .mat-column-isActive {
    width: 100px;
  }
  
  .mat-column-distributorId {
    width: 150px;
  }
  
  .mat-column-productInformationId {
    width: 200px;
  }