.mat-header-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .mat-column-action {
    width: 150px;
  }
  
  .mat-column-areaCode {
    width: 150px;
  }
  
  .mat-column-areaName {
    width: 200px;
  }
  
  .mat-column-createdAt {
    width: 150px;
  }
  
  .mat-column-updatedAt {
    width: 150px;
  }