<mat-card class="cardWithShadow theme-card modal-card">
  <!-- Header -->
  <mat-card-header class="header">
    <mat-card-title>Confirm</mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Close" (click)="closeModal()">
      <mat-icon color="warn">close</mat-icon>
    </button>
  </mat-card-header>

  <!-- Nội dung -->
  <mat-card-content class="b-t-1 content">
    <!-- Thông tin đơn hàng -->
    <div *ngIf="orderDetail" class="order-info">
      <div class="info-item">
        <mat-icon color="primary">inventory</mat-icon>
        <strong>Total counted units:</strong> 
        <span>{{ totalUnits }} / {{ orderDetail.requestedUnits }}</span>
      </div>
    </div>

    <!-- Hỏi người dùng -->
    <div class="question">
      <mat-icon color="accent">help_outline</mat-icon>
      <span>Add unit quantity if there is a defective unit</span>
    </div>

    <!-- Form nhập số lượng -->
    <form [formGroup]="dataForm" (ngSubmit)="createData(dataForm.value)" class="form-container">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Defective Units</mat-label>
        <input matInput type="number" formControlName="defectiveUnits" />
        <mat-error *ngIf="dataForm.get('defectiveUnits')?.hasError('required') && dataForm.get('defectiveUnits')?.touched">
          Please enter defective units
        </mat-error>
        <mat-error *ngIf="dataForm.get('defectiveUnits')?.hasError('min')">
          The defective unit cannot be less than 0
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Replace Units</mat-label>
        <input matInput type="number" formControlName="replaceUnits" />
        <mat-error *ngIf="dataForm.get('replaceUnits')?.hasError('required') && dataForm.get('replaceUnits')?.touched">
          Please enter replace units
        </mat-error>
        <mat-error *ngIf="dataForm.get('replaceUnits')?.hasError('min')">
          The replace unit cannot be less than 0
        </mat-error>
      </mat-form-field>
    
      <!-- Hiển thị thông báo xác nhận -->
      <div *ngIf="confirmMessage" class="alert alert-warning">
        {{ confirmMessage }}
      </div>
    
      <!-- Button -->
      <div class="button-group">
        <button mat-flat-button color="primary" [disabled]="!dataForm.valid">
          <mat-icon>save</mat-icon> Submit
        </button>
      </div>
    </form>
    
    
  </mat-card-content>
</mat-card>
