.mat-header-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .mat-column-action {
    width: 150px;
  }
  
  .mat-column-lineNumber {
    width: 150px;
  }
  
  .mat-column-lineName {
    width: 200px;
  }
  
  .mat-column-isActive {
    width: 100px;
  }
  
  .mat-column-createdAt {
    width: 150px;
  }
  
  .mat-column-updatedAt {
    width: 150px;
  }