// .mat-header-cell {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// .mat-column-action {
//   width: 150px;
// }

// .mat-column-weight {
//   width: 120px;
// }

// .mat-column-bag1 {
//   width: 120px;
// }

// .mat-column-bag2 {
//   width: 120px;
// }

// .mat-column-bag3 {
//   width: 120px;
// }

// .mat-column-bag4 {
//   width: 120px;
// }

// .mat-column-lineid {
//   width: 120px;
// }

// .mat-column-createdAt {
//   width: 150px;
// }

// .mat-column-updatedAt {
//   width: 150px;
// }