.mat-header-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .mat-column-action {
    width: 150px;
  }
  
  .mat-column-productCode {
    width: 150px;
  }
  
  .mat-column-productName {
    width: 250px;
  }
  
  .mat-column-unit {
    width: 100px;
  }
  
  .mat-column-weightPerUnit {
    width: 150px;
  }
  
  .mat-column-isActive {
    width: 100px;
  }
  
  .mat-column-createdAt {
    width: 150px;
  }
  
  .mat-column-updatedAt {
    width: 150px;
  }