<mat-card class="cardWithShadow theme-card modal-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Create Order</mat-card-title>
    <span class="flex-1-auto"></span>
    <button mat-flat-button matTooltipPosition="left" class="m-l-8" matTooltipHideDelay="100000" (click)="closeModal()">
      <span color="warn">Close</span>
    </button>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="dataForm" autocomplete="off" novalidate (ngSubmit)="createData(dataForm.value)">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Order Code</mat-label>
        <input matInput formControlName="code" />
        <mat-error *ngIf="validateControl('code') && hasError('code', 'required')">Order Code is required</mat-error>
        <mat-error *ngIf="validateControl('code') && hasError('code', 'maxlength')">Order Code must not exceed 50 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Export Date</mat-label>
        <input matInput [matDatepicker]="exportPicker" formControlName="exportDate" />
        <mat-datepicker-toggle matSuffix [for]="exportPicker"></mat-datepicker-toggle>
        <mat-datepicker #exportPicker></mat-datepicker>
        <mat-error *ngIf="validateControl('exportDate') && hasError('exportDate', 'required')">Export Date is required</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Driver Count</mat-label>
        <input matInput type="number" formControlName="quantityVehicle" />
        <mat-error *ngIf="validateControl('quantityVehicle') && hasError('quantityVehicle', 'required')">Driver Count is required</mat-error>
        <mat-error *ngIf="validateControl('quantityVehicle') && hasError('quantityVehicle', 'min')">Driver Count must be a positive number</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Vehicle Number</mat-label>
        <input matInput formControlName="vehicleNumber" />
        <mat-error *ngIf="validateControl('vehicleNumber') && hasError('vehicleNumber', 'required')">Vehicle Number is required</mat-error>
        <mat-error *ngIf="validateControl('vehicleNumber') && hasError('vehicleNumber', 'maxlength')">Vehicle Number must not exceed 20 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Container Number</mat-label>
        <input matInput type="number" formControlName="containerNumber" />
        <mat-error *ngIf="validateControl('containerNumber') && hasError('containerNumber', 'min')">Container Number must be a positive number</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Seal Number</mat-label>
        <input matInput type="number" formControlName="sealNumber" />
        <mat-error *ngIf="validateControl('sealNumber') && hasError('sealNumber', 'min')">Seal Number must be a positive number</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Driver Name</mat-label>
        <input matInput formControlName="driverName" />
        <mat-error *ngIf="validateControl('driverName') && hasError('driverName', 'required')">Driver Name is required</mat-error>
        <mat-error *ngIf="validateControl('driverName') && hasError('driverName', 'maxlength')">Driver Name must not exceed 100 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Driver Phone Number</mat-label>
        <input matInput formControlName="driverPhoneNumber" />
        <mat-error *ngIf="validateControl('driverPhoneNumber') && hasError('driverPhoneNumber', 'required')">Driver Phone Number is required</mat-error>
        <mat-error *ngIf="validateControl('driverPhoneNumber') && hasError('driverPhoneNumber', 'pattern')">Driver Phone Number must be 10 digits</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Quantity (bags)</mat-label>
        <input matInput formControlName="unitOrder" />
        <mat-error *ngIf="validateControl('unitOrder') && hasError('unitOrder', 'required')">Quantity (bags) is required</mat-error>
        <mat-error *ngIf="validateControl('unitOrder') && hasError('unitOrder', 'maxlength')">Quantity (bags) must not exceed 20 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Weight (kg)</mat-label>
        <input matInput type="number" formControlName="weightOrder" />
        <mat-error *ngIf="validateControl('weightOrder') && hasError('weightOrder', 'required')">Weight (kg) is required</mat-error>
        <mat-error *ngIf="validateControl('weightOrder') && hasError('weightOrder', 'min')">Weight (kg) must be a positive number</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Manufacture Date</mat-label>
        <input matInput [matDatepicker]="manufacturePicker" formControlName="manufactureDate" />
        <mat-datepicker-toggle matSuffix [for]="manufacturePicker"></mat-datepicker-toggle>
        <mat-datepicker #manufacturePicker></mat-datepicker>
        <mat-error *ngIf="validateControl('manufactureDate') && hasError('manufactureDate', 'required')">Manufacture Date is required</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Distributor</mat-label>
        <mat-select formControlName="distributorId">
          <mat-option *ngFor="let distributor of distributors" [value]="distributor.id">
            {{ distributor.distributorName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="validateControl('distributorId') && hasError('distributorId', 'required')">Distributor is required</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Product Information</mat-label>
        <mat-select formControlName="productInformationId">
          <mat-option *ngFor="let productInfo of productInformations" [value]="productInfo.id">
            {{ productInfo.productCode }} - {{ productInfo.productName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="validateControl('productInformationId') && hasError('productInformationId', 'required')">Product Information is required</mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" [disabled]="!dataForm.valid">
        Save
      </button>
    </form>
  </mat-card-content>
</mat-card>